* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  :root {
    /* --achtergrondKleur: #FFE6C8; */
    --achtergrondKleur: #CEE6F2;
    --tekstAchtergrondKleur: #E3867D;
    /* --tekstKleur: #212121; */
    --tekstKleur: #212121;
    --mainFont: "Roboto", sans-serif;
    --secundaireTekstKleur: white;
    /* --buttonKleur: #6027DA; */
    /* #666666 */
  }

body {
    background-color: var(--achtergrondKleur);
    max-width: 1200px;
    margin: auto;
    transition: transform .5s;
    
}

body.slide-right {
    transform: translateX(30vw);
    overflow: hidden;
}

ul li {
    list-style: none;
}
a {
    text-decoration: none;
    font-family:  var(--mainFont);
    color: var(--tekstKleur);
}

.text {
    font-family: var(--mainFont);
    font-weight: 400;
    font-size: 1.1em;
    padding-top: .5em;
    color: var(--tekstKleur);
}
.h1 {
    font-family: var(--mainFont);
    font-weight: 600;
    font-size: 2.5em;
    color: var(--tekstKleur);
}

@media screen and (min-width: 900px) {
    
    .h1 {
    font-weight: 800;
    font-size: 4.5em;
    }
}
.h2 {
    font-family: var(--mainFont);
    color: var(--tekstKleur);
    font-weight: 600;
    font-size: 1.5em;
}

@media screen and (min-width: 900px) {
    .h2 {
        font-size: 1.9em;
    }
}

.h3 {
    font-family: var(--mainFont);
    color: var(--tekstKleur);
    font-size: 1em;
}

/* classes voor de scroll animatie */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.active {
    transform: translateY(0);
    opacity: 1;
}

.navigatiebalk {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: .7em 2em;
    background-color: var(--achtergrondKleur);
}

.menu-lijst {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    
}

.mobile-menu-lijst {
    float: left;
    transform: translateX(-30vw);
    position: fixed;
    top: 0;
    left: 0;
    background: var(--tekstKleur);
    width: 30vw;
    height: 100vh;
    padding: 20px;
}

.mobile-lijst-item {
    color: var(--tekstAchtergrondKleur);
}

.lijst-item {
    display: none;
    margin-right: 1em;
    font-weight: 500;
    font-size: 1.1em;
    padding-top: .6em;
}

@media screen and (min-width: 900px) {
    
    .lijst-item {
        display: block;
    }
}

.lijst-item::after {
content: "";
width: 0%;
height: 2px;
background: black;
display: block;
margin: auto;
transition: 0.5s;
}

.lijst-item:hover::after {
    width: 100%;
  }

.lijst-button {
    display: none;
    margin-right: 1em;
    font-weight: 500;
    font-size: 1.1em;
    color: white;
    background-color: #212121;
    padding: .65em 1.3em;
    border-radius: .5em;
    margin-left: 1em;
}

@media screen and (min-width: 900px) {

    .lijst-button {
        display: inline-block;
    }
}

.lijst-button-mobile {
    display: inline-block;
    margin-right: 1em;
    font-weight: 500;
    font-size: 1.1em;
    color: var(--secundaireTekstKleur);
    background-color: var(--tekstAchtergrondKleur);
    padding: .65em 1.3em;
    border-radius: .5em;
    margin-left: 2em;
}

@media screen and (min-width: 900px) {
    .lijst-button-mobile {
        display: none;
    }
}
.hamburger {
    display: block;
    cursor: pointer;
    padding-right: .2em;
    transition: transform .5s;
}

@media screen and (min-width: 900px) {
    
    .hamburger {
        display: none;
    }
}

.bar {
    display: block;
    width: 35px;
    height: 4.2px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--tekstKleur);
}

.hamburger.active {
    transform: translateX(-30vw);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10.7px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10.7px) rotate(-45deg);
  }
.header {
    padding: 2em 2em;
}

.header p {
    font-size: 1.2em;
}
@media screen and (min-width: 900px) {

    .header p {
        font-weight: 300;
        font-size: 1.5em;
        padding-top: .5em;
    }
}

.buurtcampus-informatie {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    margin-top: 2em;
}

.buurtcampus-informatie p {
    background-color: var(--tekstKleur);
    padding: 1em 1em;
    border-radius: 1em;
    font-size: 1.2em;
    line-height: 1.4em;
    color: var(--achtergrondKleur);
    box-shadow: 2px 12px 22px 4px rgba(115,115,115,1);
}
.image-samenwerken-container {
    max-width: 500px;
    max-height: auto;
    margin-top: 2em;

    & img {
        width: 100%;
        height: auto;
    }
}

.informatie-titel {
    font-family: var(--mainFont);
    color: var(--tekstKleur);
    font-weight: 600;
    font-size: 1.7em;
    margin: .7em 0;
}


.initiatief-kaartlijst {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0em 2em;
    
}

.initiatief-kaart {
   display: flex;
   flex-direction: column;
   background-color: var(--tekstKleur);
   margin-bottom: 2vw;
   border-radius: .4em;
   
}

.kaart-content {
    color: var(--achtergrondKleur);
    padding: 1em 2em;
    
}

.kaart-content h3 {
    color: var(--achtergrondKleur);
    margin-bottom: .8rem;
    letter-spacing: .03em;
}

.kaart-content p {
    font-size: 1em;
    margin-top: .4rem;
    letter-spacing: .03em;
}
/* 
.initiatief-image-container {
    max-width: 20vw;
    max-height: auto;
    overflow: hidden;
    margin-left: auto;
}

.initiatief-image {
    width: 100%;
    height: auto;
} */

.lees-meer {
    background-color: var(--achtergrondKleur);
    margin-left: auto;
    margin-right: .8rem;
    margin-bottom: .8rem;
    padding: .3em .6em;
    border-radius: .4rem;
}